# Voron 2.4 350mm - Generic Aliased Config (Octopus Pro v1.1)
# All pins use clean DRIVER*/ENDSTOP* aliases. Swap boards or rewire without touching this file!

[include mcu_btt-octopus-pro-v1.1.cfg]
[include katana_flow/*.cfg]
[include Mainsail.cfg]
[include macros.cfg]

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_XXXXXXXXXXXXXXX-if00   # ← CHANGE THIS
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 30
max_z_accel: 350
square_corner_velocity: 10.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

[stepper_x]
step_pin: DRIVER0_STEP
dir_pin: !DRIVER0_DIR
enable_pin: !DRIVER0_ENABLE
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ENDSTOP0   # X
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: DRIVER0_CS
spi_software_mosi_pin: SPI_MOSI
spi_software_miso_pin: SPI_MISO
spi_software_sclk_pin: SPI_SCLK
interpolate: True
run_current: 0.8
hold_current: 0.5
sense_resistor: 0.110

[stepper_y]
step_pin: DRIVER2_STEP
dir_pin: !DRIVER2_DIR
enable_pin: !DRIVER2_ENABLE
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: ENDSTOP1   # Y
position_min: 0
position_endstop: 350
position_max: 350
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: DRIVER2_CS
spi_software_mosi_pin: SPI_MOSI
spi_software_miso_pin: SPI_MISO
spi_software_sclk_pin: SPI_SCLK
interpolate: True
run_current: 0.8
hold_current: 0.5
sense_resistor: 0.110

#####################################################################
#   Z Stepper Settings (4x independent)
#####################################################################

[stepper_z]
step_pin: DRIVER4_STEP
dir_pin: !DRIVER4_DIR
enable_pin: !DRIVER4_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: ENDSTOP2   # Z
position_endstop: -0.5
position_max: 310
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc5160 stepper_z]
cs_pin: DRIVER4_CS
spi_software_mosi_pin: SPI_MOSI
spi_software_miso_pin: SPI_MISO
spi_software_sclk_pin: SPI_SCLK
interpolate: True
run_current: 0.8
hold_current: 0.5
sense_resistor: 0.110

[stepper_z1]
step_pin: DRIVER5_STEP
dir_pin: DRIVER5_DIR
enable_pin: !DRIVER5_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z1]
cs_pin: DRIVER5_CS
spi_software_mosi_pin: SPI_MOSI
spi_software_miso_pin: SPI_MISO
spi_software_sclk_pin: SPI_SCLK
interpolate: True
run_current: 0.8
hold_current: 0.5
sense_resistor: 0.110

[stepper_z2]
step_pin: DRIVER6_STEP
dir_pin: !DRIVER6_DIR
enable_pin: !DRIVER6_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z2]
cs_pin: DRIVER6_CS
spi_software_mosi_pin: SPI_MOSI
spi_software_miso_pin: SPI_MISO
spi_software_sclk_pin: SPI_SCLK
interpolate: True
run_current: 0.8
hold_current: 0.5
sense_resistor: 0.110

[stepper_z3]
step_pin: DRIVER7_STEP
dir_pin: DRIVER7_DIR
enable_pin: !DRIVER7_ENABLE
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc5160 stepper_z3]
cs_pin: DRIVER7_CS
spi_software_mosi_pin: SPI_MOSI
spi_software_miso_pin: SPI_MISO
spi_software_sclk_pin: SPI_SCLK
interpolate: True
run_current: 0.8
hold_current: 0.5
sense_resistor: 0.110

#####################################################################
#   Extruder (on DRIVER1 until toolhead board)
#####################################################################

[extruder]
step_pin: DRIVER1_STEP
dir_pin: DRIVER1_DIR
enable_pin: !DRIVER1_ENABLE
rotation_distance: 22.6789511
gear_ratio: 50:10
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: HE0
sensor_type: Generic 3950
sensor_pin: TH0
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
control: pid
pid_kp: 26.213
pid_ki: 1.304
pid_kd: 131.721

[tmc2209 extruder]
uart_pin: DRIVER1_UART
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   Bed Heater + Probe + Fans + QGL (unchanged except aliases)
#####################################################################

[heater_bed]
heater_pin: HB
sensor_type: Generic 3950
sensor_pin: THB
max_power: 0.6
min_temp: 0
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

[probe]
pin: ~!PROBE
x_offset: 0
y_offset: 25.0
z_offset: 0
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.006
samples_tolerance_retries: 3

[fan]
pin: FAN0
kick_start_time: 0.5
off_below: 0.10

[heater_fan hotend_fan]
pin: FAN1
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[controller_fan controller_fan]
pin: FAN2
kick_start_time: 0.5
heater: heater_bed

#[heater_fan exhaust_fan]
#pin: FAN3
#...

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position: -10,-10
speed: 100
z_hop: 10

[quad_gantry_level]
gantry_corners:
   -60,-10
   410,420
points:
   50,25
   50,275
   300,275
   300,25
speed: 100
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075
max_adjust: 10
